
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using LY.PF.Web.Areas.Mpa.Models.Common.Modals
@using LY.PF.Web.Areas.Mpa.Models.SaleFunnelManage

@model CreateOrEditSaleFunnelModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditSaleFunnel") + ": " + Model.SaleFunnel.ClientType) : L("CreateSaleFunnel")))


<!--html代码区域-->
<div class="modal-body">
    <form name="saleFunnelInformationsForm" role="form" novalidate class="form-validation">
        <input type="hidden" name="Id" value="@Model.SaleFunnel.Id" />
        <div class="row">
            <!--<div class="alert alert-info fs16 bold mt10">分节标题</div>-->

            <div class="col-sm-12">
                <div class="form-group">
                    <label class="col-sm-3 control-label hidden">@L("Id")</label>
                    <div class="col-sm-8">
                        <input class="" type="hidden" id="Id" name="Id" value="@Model.SaleFunnel.Id" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("District")</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("District", Model.Districts.Select(a => a.ToSelectListItem()), new
                   {
                       @class = "form-control selectpicker",
                       data_live_search = "true",
                       id = "DistrictEdit"
                   })
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Saler")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="Saler" name="Saler" maxlength="64" value="@Model.SaleFunnel.Saler" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ClientName")</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="text" id="ClientName" name="ClientName" maxlength="64" value="@Model.SaleFunnel.ClientName" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Adress")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="Adress" name="Adress" maxlength="512" value="@Model.SaleFunnel.Adress" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ClientType")</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("ClientType", Model.ClientTypes.Select(a => a.ToSelectListItem()), new
                   {
                       @class = "form-control selectpicker",
                       data_live_search = "true",
                       id = "ClientTypeEdit"
                   })
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ProductType")</label>
                    <div class="col-sm-8">
                        @Html.DropDownList("ProductType", Model.ProductTypes.Select(a => a.ToSelectListItem()), new
                       {
                           @class = "form-control selectpicker",
                           data_live_search = "true",
                           id = "ProductTypeEdit"
                       })
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ProductName")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ProductName" name="ProductName" maxlength="64" value="@Model.SaleFunnel.ProductName" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ProductModel")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ProductModel" name="ProductModel" maxlength="64" value="@Model.SaleFunnel.ProductModel" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Price")<span style="color:red">*</span></label>
                    <div class="col-sm-8">
                        <input class="form-control " type="number" id="Price" name="Price" min="0.01"  value="@Model.SaleFunnel.Price" required/>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Number")<span style="color:red">*</span></label>
                    <div class="col-sm-8">
                        <input class="form-control " type="number" id="Number" name="Number" min="1" max="9999999"  value="@Model.SaleFunnel.Number" required/>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("SumPrice")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="SumPrice" name="SumPrice" maxlength="32" value="@Model.SaleFunnel.SumPrice" readonly/>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("StatementTime")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="StatementTime" name="StatementTime" value="@Model.SaleFunnel.StatementTime" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ContendNumber")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="number" id="ContendNumber" name="ContendNumber"  min="1" max="9999999" value="@Model.SaleFunnel.ContendNumber" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Opportunitie")</label>
                    <div class="col-sm-8">
                        <select id="Opportunitie" name="Opportunitie" class="form-control required">
                            <option value="10%">10%</option>
                            <option value="30%">30%</option>
                            <option value="50%">50%</option>
                            <option value="70%">70%</option>
                            <option value="90%">90%</option>
                            <option value="100%">100%</option>
                        </select>
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Stage")</label>
                    <div class="col-sm-8">
                        @*<input class="form-control " type="text" id="Stage" name="Stage" maxlength="64" value="@Model.SaleFunnel.Stage" />*@
                        <select id="Stage" name="Stage" class="form-control required">
                            <option value="10%">10%</option>
                            <option value="30%">30%</option>
                            <option value="50%">50%</option>
                            <option value="70%">70%</option>
                            <option value="90%">90%</option>
                            <option value="100%">100%</option>
                        </select>

                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("StageTime")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="StageTime" name="StageTime" value="@Model.SaleFunnel.StageTime" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ChanceSum")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ChanceSum" name="ChanceSum" maxlength="64" value="@Model.SaleFunnel.ChanceSum" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("LastTime")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="LastTime" name="LastTime" value="@Model.SaleFunnel.LastTime" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("NextAction")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="NextAction" name="NextAction" maxlength="512" value="@Model.SaleFunnel.NextAction" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("NextTime")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="NextTime" name="NextTime" value="@Model.SaleFunnel.NextTime" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("RivalA")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="RivalA" name="RivalA" maxlength="64" value="@Model.SaleFunnel.RivalA" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ProductModelA")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ProductModelA" name="ProductModelA" maxlength="64" value="@Model.SaleFunnel.ProductModelA" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("RivalB")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="RivalB" name="RivalB" maxlength="64" value="@Model.SaleFunnel.RivalB" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ProductModelB")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ProductModelB" name="ProductModelB" maxlength="64" value="@Model.SaleFunnel.ProductModelB" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Contact")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="Contact" name="Contact" maxlength="64" value="@Model.SaleFunnel.Contact" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("ContactMobile")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="ContactMobile" name="ContactMobile" maxlength="64" value="@Model.SaleFunnel.ContactMobile" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Purchase")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="Purchase" name="Purchase" maxlength="64" value="@Model.SaleFunnel.Purchase" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("PurchaseMobile")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="PurchaseMobile" name="PurchaseMobile" maxlength="64" value="@Model.SaleFunnel.PurchaseMobile" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("Dean")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="Dean" name="Dean" maxlength="64" value="@Model.SaleFunnel.Dean" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("DeanMobile")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="DeanMobile" name="DeanMobile" maxlength="64" value="@Model.SaleFunnel.DeanMobile" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("LeadSource")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="LeadSource" name="LeadSource" maxlength="64" value="@Model.SaleFunnel.LeadSource" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hidden">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("CreateBy")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="CreateBy" name="CreateBy" maxlength="32" value="@Model.SaleFunnel.CreateBy" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 hidden">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("UpdateTime")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="UpdateTime" name="UpdateTime" value="@Model.SaleFunnel.UpdateTime" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 hidden">
                <div class="form-group">
                    <label class="col-sm-3 control-label">@L("UpdateBy")</label>
                    <div class="col-sm-8">
                        <input class="form-control " type="text" id="UpdateBy" name="UpdateBy" maxlength="32" value="@Model.SaleFunnel.UpdateBy" />
                        <span class="help-inline"></span>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")

