
@using Abp.Extensions
@using Abp.Application.Services.Dto
@using LY.PF.Web.Areas.Mpa.Models.Common.Modals
@using LY.PF.Web.Areas.Mpa.Models.ProductTypeManage

@model CreateOrEditProductTypeModalViewModel

@* 初始化头部 *@
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditProductType") + ": " + Model.ProductType.ProductTypeName) : L("CreateProductType")))


<!--html代码区域-->
<div class="modal-body">
    <form name="productTypeInformationsForm"   role="form" novalidate class="form-validation">
 <input type="hidden" name="Id" value="@Model.ProductType.Id" />
 <div class="row">
            <!--<div class="alert alert-info fs16 bold mt10">分节标题</div>-->
            
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-3 control-label hidden">@L("Id")</label>
                        <div class="col-sm-8">
                            <input class="" type="hidden" id="Id" name="Id" value="@Model.ProductType.Id" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@L("ProductTypeName")</label>
                        <div class="col-sm-8">
                            <input class="form-control inline w300  maxlength-handler " type="text" id="ProductTypeName" name="ProductTypeName" maxlength="64" value="@Model.ProductType.ProductTypeName" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@L("IsValid")</label>
                        <div class="col-sm-8">
                            <select id="IsValid" name="IsValid" class="form-control required">
                                <option value="true">正常</option>
                                <option value="false">禁用</option>
                            </select>
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">@L("Remark")</label>
                        <div class="col-sm-8">
                            <input class="form-control inline w300  maxlength-handler " type="text" id="Remark" maxlength="512" name="Remark" value="@Model.ProductType.Remark" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" >
                    <div class="form-group hidden">
                        <label class="col-sm-3 control-label">@L("CreateBy")</label>
                        <div class="col-sm-8">
                            <input class="form-control inline w300  maxlength-handler " type="text" id="CreateBy" name="CreateBy" maxlength="32" value="@Model.ProductType.CreateBy" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group hidden">
                        <label class="col-sm-3 control-label">@L("CreationTime")</label>
                        <div class="col-sm-8">
                            <input class="form-control inline w300  maxlength-handler " type="text" id="CreationTime" name="CreationTime" value="@Model.ProductType.CreationTime" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group hidden">
                        <label class="col-sm-3 control-label">@L("UpdateBy")</label>
                        <div class="col-sm-8">
                            <input class="form-control inline w300  maxlength-handler " type="text" id="UpdateBy" name="UpdateBy" maxlength="32" value="@Model.ProductType.UpdateBy" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group hidden">
                        <label class="col-sm-3 control-label">@L("UpdateTime")</label>
                        <div class="col-sm-8">
                            <input class="form-control date-picker inline w300 date-picker" type="text" id="UpdateTime" name="UpdateTime" value="@Model.ProductType.UpdateTime.ToString()" />
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </div>
            </div>
    </form>
</div>
@Html.Partial("~/Areas/Mpa/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")
 
