@using Abp.Web.Mvc.Extensions
@using LY.PF.Districts.Authorization
@{
    ViewBag.CurrentPageName = DistrictAppPermissions.District;
    ViewBag.Title = L("District");

}

@section Styles{

    <link href="~/libs/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
}


@* 注入所需JS *@
@section Scripts
{
    <script src="~/libs/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="~/libs/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/libs/bootstrap-datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>

    @Html.IncludeScript("~/Areas/Mpa/Views/DistrictManage/_CreateOrEditDistrictModal.js")
    @Html.IncludeScript("~/Areas/Mpa/Views/DistrictManage/Index.js")
}
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("District")</span> <small>@L("DistrictHeaderInfo")</small>
                </h1>
            </div>

        </div>
    </div>
    <div class="col-xs-6 text-right">
        <button id="ButtonReload" class="btn btn-primary blue"><i class="fa  fa-refresh"></i> @L("Refresh")</button>


        @if (IsGranted(DistrictAppPermissions.District_CreateDistrict))
        {
            <button id="CreateNewDistrictButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateDistrict")</button>
            <button id="ExportToExcelButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("ExportToExcel")</button>

        }
    </div>
</div>

<div class="portlet light">
    @* 通用搜索功能 *@
    <div class="portlet-title portlet-title-filter">
        <div class="inputs inputs-full-width">
            <div class="portlet-input">
                <form>
                    <div class="input-group">
                        <input id="DistrictsTableFilter" class="form-control" placeholder="@L("SearchWithThreeDot")" type="text" value="@Model.FilterText">
                        <span class="input-group-btn">
                            <button id="GetDistrictsButton" class="btn default" type="submit"><i class="icon-magnifier"></i></button>
                        </span>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <div class="portlet-body">
        <div id="DistrictsTable"></div>
    </div>
</div>









